@import url(http://fonts.googleapis.com/css?family=Merriweather:400);
.black {
  color: #111; }

.gray {
  color: #aaa; }

.silver {
  color: #ddd; }

.white {
  color: #fff; }

.aqua {
  color: #7fdbff; }

.blue {
  color: #0074d9; }

.navy {
  color: #001f3f; }

.teal {
  color: #39cccc; }

.green {
  color: #2ecc40; }

.olive {
  color: #3d9970; }

.lime {
  color: #01ff70; }

.yellow {
  color: #ffdc00; }

.orange {
  color: #ff851b; }

.red {
  color: #ff4136; }

.fuchsia {
  color: #f012be; }

.purple {
  color: #b10dc9; }

.maroon {
  color: #85144b; }

body {
  margin: 0;
  font-family: Merriweather, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

p {
  text-align: left; }

a {
  color: #0074d9;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

blockquote {
  font-style: italic;
  padding-left: 1rem;
  border-left: 3px solid #ddd; }

img {
  max-width: 100%; }

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%; }

th,
td {
  padding: 0.5rem;
  line-height: inherit; }

th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

td {
  vertical-align: top;
  border-bottom: 1px solid #ddd; }

pre {
  padding: 1.25rem;
  overflow-x: auto; }

code {
  font-family: 'Courier New',Consolas,monopace; }

hr {
  border: none;
  border-top: 2px solid #ddd; }

main {
  max-width: 51rem;
  margin: 0 auto 3rem;
  padding: 0 2rem; }

.site-header .site-title {
  font-weight: 300; }
  .site-header .site-title > a {
    color: #333;
    text-decoration: none; }
    .site-header .site-title > a:hover {
      text-decoration: none;
      color: #0074d9; }
.site-header .site-subtitle {
  font-weight: 300;
  margin: -1.5rem 0 1.5rem 0; }
  .site-header .site-subtitle > a {
    color: #333;
    text-decoration: none; }
    .site-header .site-subtitle > a:hover {
      text-decoration: none;
      color: #0074d9; }
.site-header .site-nav > a {
  color: #333; }
  .site-header .site-nav > a:hover {
    text-decoration: none;
    color: #0074d9; }
  .site-header .site-nav > a.active {
    border-bottom: 2px solid #666; }
  .site-header .site-nav > a + a {
    margin-left: .75rem; }

.posts {
  list-style: none;
  padding: 0; }
  .posts > li {
    line-height: 1.75; }
    .posts > li span {
      color: #a0a0a0;
      margin-right: 1.5rem;
      font-size: 0.875rem; }
    .posts > li a {
      color: #333;
      text-decoration: none; }

.post {
  position: relative; }
  .post .post-header {
    text-align: center;
    margin-bottom: 0; }
  .post .post-meta {
    margin: 0;
    text-align: center;
    color: #a0a0a0;
    font-size: 0.875rem; }

@media screen and (max-width: 48rem) {
  .site-header .site-title,
  .site-header .site-nav {
    text-align: center; } }
.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .ge {
  color: #000000;
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #000000;
  font-weight: bold; }

.highlight .kd {
  color: #000000;
  font-weight: bold; }

.highlight .kn {
  color: #000000;
  font-weight: bold; }

.highlight .kp {
  color: #000000;
  font-weight: bold; }

.highlight .kr {
  color: #000000;
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .il {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .bp {
  color: #999999; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nl {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  color: #000000;
  font-weight: bold; }

.highlight .o {
  color: #000000;
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight {
  background-color: #f8f8f8; }

/* Header overrides
-------------------------------------------------- */
h1 {
  font-size: 1.75rem;
  border-bottom: 1px solid #ddd; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1rem; }

.site-title {
  font-size: 2rem;
  border-bottom: none; }

.post-header {
  border-bottom: none; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  max-width: 48rem;
  height: 60px; }

.foot {
  padding-right: 2rem; }

/* Bibliography style
-------------------------------------------------- */
ol.bibliography {
  padding-left: 0; }

ol.bibliography li {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -2em;
  margin-bottom: 1em; }

/* Main image 
-------------------------------------------------- */
.centerpic {
  text-align: center; }

img.centerpic {
  border-radius: 10px;
  float: left;
  margin-right: 2rem; }

/* Linking hovering
-------------------------------------------------- */
a.iconlink:link, li ul.posts li a:link {
  color: #333; }

a.iconlink:visited, ul.posts li a:visited {
  color: #333; }

a.iconlink:hover, ul.posts li a:hover {
  color: #0074d9; }

a.iconlink:active, ul.posts li a:active {
  color: #0074d9; }
